.hero {
  height: 776px;
  &__inner {
    width: 632px;
    height: 667px;

    float: left;

    margin-right: 35px;
  }
  &__box {
    margin-top: 96px;
    display: inline-block;
    width: 543.75px;
    height: 240px;

    margin-bottom: 40px;
  }
  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;

    /* or 125% */

    color: #000000;
  }
  &__img {
    position: absolute;
    width: 125.24px;
    height: 125.24px;
    left: 700.99px;
    top: 316px;

    transform: rotate(1deg);
    transition: all 0.5s;
    &:hover {
      border-radius: 100%;
      box-shadow: 0px 0px 100px 0px yellow;
    }
  }
  &__info {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #8f95a5;
    margin-bottom: 93px;
  }
  &__link {
    font-weight: 400;
    font-size: 36px;
    padding: 32px 117px;
    text-decoration: none;

    /* identical to box height */
    transition: all 0.3s;
    &:hover {
      background-color: rgb(44, 14, 85);
    }
  }
  &__img1 {
    margin-top: 45px;

    width: 650px;
    height: 661px;
    float: right;
  }
}
