@import "globals";
@import "container";
@import "header";
@import "hero";
@import "footer";
@import "pricing";
@import "skills";
@import "btn";
@import "section-title";
@import "p";
@import "titles";
@import "w";
@import "about";
@import "td";
@import "contact";
